@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Protest Riot', cursive;
    text-align: center;
    color: #FFC0CB;
}

.container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color:#FF69B4;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    margin: 25px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #FFB6C1;
}
