body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
background-image: url('https://cdn.discordapp.com/attachments/437468321093255178/1206609655229317160/1111.gif?ex=65dca1cf&is=65ca2ccf&hm=a6d6f4b4932d8b7dbf2cd568c9a35913ab677682923284651fdbb6c555f39649&'); 
    background-size: cover; 
    background-position: center; 
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Protest Riot', cursive;
    text-align: center;
    color: #FFC0CB;
}

.timer-container {
    text-align: center;
}

.timer {
    font-size: 2em;
    margin-top: 50px;
}
